* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #ebeff2;
  font-family: "Helvetica Neue", Arial;
}

.Dashboard {
  @media screen and (max-width: 718px) {
    width: 100vw;
  }

  @media only screen and (min-width: 719px) and (max-width: 1024px) {
    width: 80vw;
  }

  @media only screen and (min-width: 1025px) and (max-width: 1560px) {
    width: 60vw;
  }

  width: 50vw;
  margin: 0 auto 0;
  background: #fff;
  box-shadow: 0px 90px 30px #e0dedf;
  min-height: 100%;

  .Sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 183px;
    z-index: -100;
  }

  .Line {
    position: relative;

    .TextField {
      border: none;
      width: 100%;
      background: transparent;
      border-bottom: 1px solid #fff;

      &:focus {
        background: #0070e0;
        color: #fff;

        & ~ .RemoveButton {
          color: #fff;
        }
      }
    }

    input.TextField::placeholder {
      color: #afbfd0;
    }

    input.TextField:focus::placeholder {
      color: #aad5ec;
    }

    .TextPresenter {
      cursor: pointer;
    }

    .TextField,
    .TextPresenter {
      font-size: 20px;
      padding: 30px;
      color: #48525d;
    }

    .ControlButtons {
      position: absolute;
      right: 30px;
      top: 35px;
      border: none;
      background: transparent;
      color: #d0d6dd;

      &:hover {
        cursor: pointer;
        color: #647383;
      }

      &.EditButton {
        right: 60px;
      }

      &.RemoveButton {
      }

      &.EditButton:disabled,
      &.RemoveButton:disabled {
        display: none;
      }
    }
  }
}
